[user]
	name = geril2207
	email = gergert.ilya@mail.ru

[core]
  editor=nvim

[alias]
  b = branch
  cm = commit -m
  st = status -sb
  sw = switch

  ll = log --oneline
  lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
  lg3 = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an%Creset' --abbrev-commit
  lg = lg3

  pr = pull --rebase

  r = restore
  rs = restore --staged

  w = worktree
  wl = w list

[init]
	defaultBranch = main
