@import "mocha.css";

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 17px;
  min-height: 0;
}

#waybar {
  background: @base;
  color: @text;
}

#workspaces {
  margin: 5px 0px;
}

#workspaces button,
#workspaces button:hover {
  margin: 0;
  border-radius: 0px;
  border: none;
  background: none;
  box-shadow: inherit;
  text-shadow: inherit;

  padding: 0px 8px;
  color: @lavender;
  border-bottom: 4px solid transparent;
}

/* #workspaces button:first-child { */
/*   border-radius: 1rem 0px 0px 1rem; */
/* } */
/**/
/* #workspaces button:last-child { */
/*   border-radius: 0px 1rem 1rem 0px; */
/* } */

#workspaces button.focused {
  /* color: @base; */
  border-bottom: 4px solid @peach;
  /* background: @peach; */
}

#workspaces button.urgent {
  background-color: @red;
  color: @base;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power,
#cpu,
#memory,
#language,
#disk,
#mode,
#keyboard-state {
  background-color: @surface0;
  padding: 3px 10px;
  margin: 5px 0px;
}

#memory,
#cpu,
#disk,
#battery {
  color: @green;
}

#battery.charging {
  color: @yellow;
}

#battery.warning:not(.charging) {
  color: @red;
}

#pulseaudio {
  color: @maroon;
}

#pulseaudio,
#disk {
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#clock,
#cpu {
  border-radius: 0px 1rem 1rem 0px;
}

#clock {
  color: @blue;
  margin-right: 1rem;
  /* border-radius: 1rem; */
  /* margin-right: 1rem; */
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}

#mode {
  border-radius: 1rem;
  margin-left: 1rem;
  background-color: @yellow;
  color: @base;
}
