@import "mocha.css";

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 17px;
  font-weight: 600;
  min-height: 0;
}

#waybar {
  background: @base;
  color: @text;
}

#workspaces button,
#workspaces button:hover {
  margin: 0;
  border-radius: 0px;
  border: none;
  background: none;
  box-shadow: inherit;
  text-shadow: inherit;

  padding: 0px 12px;
  color: @lavender;
  border-bottom: 4px solid transparent;
}

#workspaces button.focused {
  border-bottom: 4px solid @peach;
  background: #373b41;
}

#workspaces button.urgent {
  background-color: @red;
  color: @base;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power,
#cpu,
#memory,
#language,
#disk,
#mode,
#network {
  padding: 0;
  margin: 0 7.5px;
}

#tray {
  margin: 0 10px 0 7.5px;
}

#memory,
#cpu,
#disk,
#battery,
#network {
  color: @green;
}

#battery.charging {
  color: @yellow;
}

#language {
  color: @rosewater;
  min-width: 20px;
}

#battery.warning:not(.charging) {
  color: @red;
}

#pulseaudio {
  color: @maroon;
}

#clock {
  color: @blue;
}

#custom-music {
  color: @mauve;
}

#mode {
  color: @yellow;
}
