@import "mocha.css";

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 16px;
  /* min-height: 0; */
  background: @base;
  color: @text;
}

#workspaces button {
  border-bottom: 3px solid transparent;
}

#workspaces button:hover {
  outline: none;
  border-color: transparent;
  background: none;
  border-bottom-color: transparent;
}

#workspaces button:active {
  outline: none;
  background: none;
}

#workspaces button.focused {
  border-bottom-color: @peach;
}

#workspaces button.urgent {
  background: @yellow;
}

#workspaces button.hidden {
  background: @overlay0;
}

#battery,
#clock,
#cpu,
#memory,
#mode,
#network,
#pulseaudio,
#keyboard-state,
#tray,
#backlight,
#language {
  padding-left: 8px;
  padding-right: 8px;
}
