@import "mocha.css";

* {
  font-family:
    JetBrainsMono Nerd Font,
    monospace;
  color: @text;
  border: none;
  border-radius: 0;
  font-size: 14px;
  font-weight: bold;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
}

window#waybar {
  background: @base;
}

#workspaces button {
  color: @text;
  border-bottom: 4px solid transparent;
  padding: 0px 5px;
}

#workspaces button:hover {
  outline: none;
  border-color: transparent;
  background: none;
  border-bottom-color: transparent;
}

#workspaces button:active {
  outline: none;
  background: none;
}

#workspaces button.focused {
  border-bottom-color: @peach;
}

#workspaces button.urgent {
  background: @yellow;
}

#workspaces button.hidden {
  background: @overlay0;
}

#battery,
#clock,
#cpu,
#memory,
#mode,
#network,
#pulseaudio,
#keyboard-state,
#tray,
#backlight,
#language {
  padding-left: 8px;
  padding-right: 8px;
}

#tray {
  border-right: none;
}
